.group\/header:hover .group-hover\/header\:visible {
  visibility: visible;
}
.group\/nav:hover .group-hover\/nav\:visible {
  visibility: visible;
}
.group\/aside:hover .group-hover\/aside\:visible {
  visibility: visible;
}
.group\/main:hover .group-hover\/main\:visible {
  visibility: visible;
}
.group\/div:hover .group-hover\/div\:visible {
  visibility: visible;
}
.group\/section:hover .group-hover\/section\:visible {
  visibility: visible;
}
.group\/footer:hover .group-hover\/footer\:visible {
  visibility: visible;
}
